<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>O9Schedular</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletML</display-name>
    <servlet-name>ServletML</servlet-name>
    <servlet-class>com.shopalot.servlets.ServletML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletML</servlet-name>
    <url-pattern>/servlet/ServletML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMLResponse</display-name>
    <servlet-name>ServletMLResponse</servlet-name>
    <servlet-class>com.shopalot.servlets.ServletMLResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMLResponse</servlet-name>
    <url-pattern>/servlet/ServletMLResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWifiNames</display-name>
    <servlet-name>GetWifiNames</servlet-name>
    <servlet-class>com.shopalot.servlets.GetWifiNames</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>ShopAlotBroadCast</servlet-name>
      <servlet-class>com.shopalot.servlets.ShopAlotBroadCast</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ShopAlotBroadCast</servlet-name>
      <url-pattern>/servlet/ShopAlotBroadCast</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetWifiNames</servlet-name>
    <url-pattern>/servlet/GetWifiNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
</web-app>